@charset “utf-8”;
/* CSS Document */
#contenedor{
width:1020px;
height:767px;
border-style: groove;
margin: auto;
}
/******************* CABECERA***********/
#cabecera{
height:100px;
width:1014px;
position:relative;
border-style: groove;
background: url(Imagenes/barra.jpg)repeat-x;
}

h1.tituloEncab{
color:#FFF;
text-align: center;
}

/*********Lateral Izquierdo********/
#latIzq{
background-color:white;
width: 200px;
margin-top:2px;
margin-bottom:3px;
height:580px;
position:relative;
float:left;
border-style:groove;
}
#latIzq ul {
list-style: none;
padding: 0;
}
#latIzq li a {
height: 32px;
 voice-family: "\"}\"";
 voice-family: inherit;
 height: 24px;
text-decoration: none;
}
#latIzq li a:link, #latIzq li a:visited {
display: block;
background: url(Imagenes/menu10.gif);
padding: 8px 0 0 10px;
}
#latIzq li a:hover {
background: url(Imagenes/menu10.gif) 0 -32px;
padding: 8px 0 0 10px;
}
/************CUERPO**********/
#cuerpo{
background-color:#E7F1F8;
width: 756px;
height:530px;
float:right;
position:relative;
margin-top:2px;
margin-bottom:3px;
border-style:groove;
padding:20px;
border-top-width: 10px;
border-right-width: 1em;/*1 em = 16px; */
border-bottom-width: thick; /*thick = 6px; */
border-left-width: thin; /*thin = 2px; */
border-color: white;
text-align:justify;
}
.imagenCuerpo{
width:171px;
height:152px;
border:1;
float:left;
}
/**********PIE*********/
#pie{
margin:auto;
height:64px;
width:1014px;
clear:both;
border-style:groove;
background-color:grey;
}
#pie p {
 text-align:center;
 color:white;
}
.imagenPie{
float:left;
margin-top:4px;
margin-left:4px;
width: 50px;
height: 50px;
}
/**********TIPOGRAFIAS*********/
h1,p{
color:grey;
}
#latIzq ul, li, a{
background: #E7F1F8;
border-color: grey;
border-bottom: inset;
color: blue;
}
.imagenhead{
height:120px;
width:1014px;
}

/*FUENTES*/
#cuerpo{
font-family: Arial, Helvetica, sans-serif;
}
#latIzq{
font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-style:italic;
}
#menu{
	color:blue;
}
body{
	background: url(img/logo4.png);
}